        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
        
        html {
            scroll-behavior: smooth;
        }

        body {
            font-family: 'Noto Sans KR', sans-serif;
            margin: 0;
            user-select: none;
        }

        ::-webkit-scrollbar {
            display: none;
        }

        .con {
            max-width: 1080px;
            margin-left: auto;
            margin-right: auto;
        }

        .flex {
            display: flex;
        }

        .items-center {
            align-items: center;
        }

        .top_bar {
            height: 80px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            top: 0px;
            position: sticky;
            background-color: rgba(255, 255, 255, 0.5);
            transition: all 0.2s;
        }

        .top_bar:hover {
            background-color: white;
        }

        .top_bar > .con > .logo {
            padding: 0 20px;   
        }

        .flex-grow {
            flex-grow: 1;
        }

        .h-full {
            height: 100%;
        }

        .w-full {
            width: 100%;
        }

        .px-4 {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .top_bar > .con > .menu-1 > li:hover > .hovering {
            font-weight: bolder;
        }

        .now-on {
            font-weight: bolder;
        }

        a {
            text-decoration: none;
            color: black;
        }

        li {
            list-style: none;
        }

        .thin {
            font-weight: lighter;
        }

        .menu-bar-lists {
            display: "";
        }

        .main-bg {
            height: 33rem;
        }

        .bg-here {
            background: url(https://ifh.cc/g/NDqBRL.jpg) no-repeat;
            background-size: 100%;
            height: 100%;
            background-position: center;
        }

        .options {
            display: flex;
            text-align: center;
            height: 80px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

        .options > li {
            width: 25%;
        }

        .options a {
            justify-content: center;
        }

        .options li:hover {
            background-color: #dedcee;
            transition: all 0.2s;
        }

        .for_mobile a {
            display: none;
        }

        footer {
            height: 70px;
            background-color: #383A3F;
            margin-top: 15rem;
            text-align: center;
        }

        footer a {
            color: #d8d8d8;
            font-size: small;
            border-top: 1px solid rgba(255, 255, 255, 0.1);
        }

        .gap {
            margin-top: 35px;
        }

        .up-arrow {
            font-size: 20px;
            border-radius: 10px;
            border: 3px solid rgb(216, 216, 216);
            padding: 0px 8px;
            margin-top: 20px;
        }

        .body-class {
            margin-top: 5rem;
            height: 240px;
            display: flex;
        }

        .none {
            display: none;
        }

        * {margin: 0; padding: 0; box-sizing: border-box;}
        ul, li {list-style: none;}

        .slidebox {
            max-width: 320px;
            height: 242px;
            width: 100%;
            margin: 0 auto;
            border-top: 5px solid #FFBC42;
            border-bottom: 5px solid #FFBC42;
            border-left: 5px solid #FFBC42;
            border-right: 5px solid #FFBC42;
        }

        .slidebox img {
            max-width: 100%;
        }

        .slidebox .slidelist {
            white-space: nowrap;
            font-size: 0;
            overflow: hidden;
            perspective: 100%;
        }

        .slidebox .slideitem {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            width: 100%;
            transition: all .5s;
        }

        [id="slide01"]:checked ~ .slidelist .slideitem {transform: translate(0%);animation: slide01 50s infinite;}
        [id="slide02"]:checked ~ .slidelist .slideitem {transform: translate(-100%);animation: slide02 50s infinite;}
        [id="slide03"]:checked ~ .slidelist .slideitem {transform: translate(-200%);animation: slide03 50s infinite;}
        [id="slide04"]:checked ~ .slidelist .slideitem {transform: translate(-300%);animation: slide04 50s infinite;}
        [id="slide05"]:checked ~ .slidelist .slideitem {transform: translate(-400%);animation: slide05 50s infinite;}
        [id="slide06"]:checked ~ .slidelist .slideitem {transform: translate(-500%);animation: slide06 50s infinite;}
        [id="slide07"]:checked ~ .slidelist .slideitem {transform: translate(-600%);animation: slide07 50s infinite;}
        [id="slide08"]:checked ~ .slidelist .slideitem {transform: translate(-700%);animation: slide08 50s infinite;}
        [id="slide09"]:checked ~ .slidelist .slideitem {transform: translate(-800%);animation: slide09 50s infinite;}
        [id="slide10"]:checked ~ .slidelist .slideitem {transform: translate(-900%);animation: slide10 50s infinite;}

        @keyframes slide01 {
            0% {left: 0%;}
            8% {left: 0%;}
            10% {left: -100%;}
            18% {left: -100%;}
            20% {left: -200%;}
            28% {left: -200%;}
            30% {left: -300%;}
            38% {left: -300%;}
            40% {left: -400%;}
            48% {left: -400%;}
            50% {left: -500%;}
            58% {left: -500%;}
            60% {left: -600%;}
            68% {left: -600%;}
            70% {left: -700%;}
            78% {left: -700%;}
            80% {left: -800%;}
            88% {left: -800%;}
            90% {left: -900%;}
            98% {left: -900%;}
            100% {left: 0%;}
        }

        @keyframes slide02 {
            0% {left: 0%;}
            8% {left: 0%;}
            10% {left: -100%;}
            18% {left: -100%;}
            20% {left: -200%;}
            28% {left: -200%;}
            30% {left: -300%;}
            38% {left: -300%;}
            40% {left: -400%;}
            48% {left: -400%;}
            50% {left: -500%;}
            58% {left: -500%;}
            60% {left: -600%;}
            68% {left: -600%;}
            70% {left: -700%;}
            78% {left: -700%;}
            80% {left: -800%;}
            88% {left: -800%;}
            90% {left: -900%;}
            98% {left: -900%;}
            100% {left: 0%;}
        }

        @keyframes slide03 {
            0% {left: 0%;}
            8% {left: 0%;}
            10% {left: -100%;}
            18% {left: -100%;}
            20% {left: -200%;}
            28% {left: -200%;}
            30% {left: -300%;}
            38% {left: -300%;}
            40% {left: -400%;}
            48% {left: -400%;}
            50% {left: -500%;}
            58% {left: -500%;}
            60% {left: -600%;}
            68% {left: -600%;}
            70% {left: -700%;}
            78% {left: -700%;}
            80% {left: -800%;}
            88% {left: -800%;}
            90% {left: -900%;}
            98% {left: -900%;}
            100% {left: 0%;}
        }

        @keyframes slide04 {
            0% {left: 0%;}
            8% {left: 0%;}
            10% {left: -100%;}
            18% {left: -100%;}
            20% {left: -200%;}
            28% {left: -200%;}
            30% {left: -300%;}
            38% {left: -300%;}
            40% {left: -400%;}
            48% {left: -400%;}
            50% {left: -500%;}
            58% {left: -500%;}
            60% {left: -600%;}
            68% {left: -600%;}
            70% {left: -700%;}
            78% {left: -700%;}
            80% {left: -800%;}
            88% {left: -800%;}
            90% {left: -900%;}
            98% {left: -900%;}
            100% {left: 0%;}
        }

        @keyframes slide05 {
            0% {left: 0%;}
            8% {left: 0%;}
            10% {left: -100%;}
            18% {left: -100%;}
            20% {left: -200%;}
            28% {left: -200%;}
            30% {left: -300%;}
            38% {left: -300%;}
            40% {left: -400%;}
            48% {left: -400%;}
            50% {left: -500%;}
            58% {left: -500%;}
            60% {left: -600%;}
            68% {left: -600%;}
            70% {left: -700%;}
            78% {left: -700%;}
            80% {left: -800%;}
            88% {left: -800%;}
            90% {left: -900%;}
            98% {left: -900%;}
            100% {left: 0%;}
        }

        @keyframes slide06 {
            0% {left: 0%;}
            8% {left: 0%;}
            10% {left: -100%;}
            18% {left: -100%;}
            20% {left: -200%;}
            28% {left: -200%;}
            30% {left: -300%;}
            38% {left: -300%;}
            40% {left: -400%;}
            48% {left: -400%;}
            50% {left: -500%;}
            58% {left: -500%;}
            60% {left: -600%;}
            68% {left: -600%;}
            70% {left: -700%;}
            78% {left: -700%;}
            80% {left: -800%;}
            88% {left: -800%;}
            90% {left: -900%;}
            98% {left: -900%;}
            100% {left: 0%;}
        }

        @keyframes slide07 {
            0% {left: 0%;}
            8% {left: 0%;}
            10% {left: -100%;}
            18% {left: -100%;}
            20% {left: -200%;}
            28% {left: -200%;}
            30% {left: -300%;}
            38% {left: -300%;}
            40% {left: -400%;}
            48% {left: -400%;}
            50% {left: -500%;}
            58% {left: -500%;}
            60% {left: -600%;}
            68% {left: -600%;}
            70% {left: -700%;}
            78% {left: -700%;}
            80% {left: -800%;}
            88% {left: -800%;}
            90% {left: -900%;}
            98% {left: -900%;}
            100% {left: 0%;}
        }

        @keyframes slide08 {
            0% {left: 0%;}
            8% {left: 0%;}
            10% {left: -100%;}
            18% {left: -100%;}
            20% {left: -200%;}
            28% {left: -200%;}
            30% {left: -300%;}
            38% {left: -300%;}
            40% {left: -400%;}
            48% {left: -400%;}
            50% {left: -500%;}
            58% {left: -500%;}
            60% {left: -600%;}
            68% {left: -600%;}
            70% {left: -700%;}
            78% {left: -700%;}
            80% {left: -800%;}
            88% {left: -800%;}
            90% {left: -900%;}
            98% {left: -900%;}
            100% {left: 0%;}
        }

        @keyframes slide09 {
            0% {left: 0%;}
            8% {left: 0%;}
            10% {left: -100%;}
            18% {left: -100%;}
            20% {left: -200%;}
            28% {left: -200%;}
            30% {left: -300%;}
            38% {left: -300%;}
            40% {left: -400%;}
            48% {left: -400%;}
            50% {left: -500%;}
            58% {left: -500%;}
            60% {left: -600%;}
            68% {left: -600%;}
            70% {left: -700%;}
            78% {left: -700%;}
            80% {left: -800%;}
            88% {left: -800%;}
            90% {left: -900%;}
            98% {left: -900%;}
            100% {left: 0%;}
        }

        @keyframes slide10 {
            0% {left: 0%;}
            8% {left: 0%;}
            10% {left: -100%;}
            18% {left: -100%;}
            20% {left: -200%;}
            28% {left: -200%;}
            30% {left: -300%;}
            38% {left: -300%;}
            40% {left: -400%;}
            48% {left: -400%;}
            50% {left: -500%;}
            58% {left: -500%;}
            60% {left: -600%;}
            68% {left: -600%;}
            70% {left: -700%;}
            78% {left: -700%;}
            80% {left: -800%;}
            88% {left: -800%;}
            90% {left: -900%;}
            98% {left: -900%;}
            100% {left: 0%;}
        }

        .pray4 {
            width: 320px;
            height: 240px;
        }

        .pray4-picture {
            background: url(https://ifh.cc/g/NXbgZW.jpg) no-repeat;
            width: 100%;
            height: 100%;
            background-size: 100%;
        }

        .pray4-second {
            display: none;
        }

        @media screen and (max-width: 1081px) {
            .main-bg {
                height: 28rem;
            }
        }

        @media screen and (max-width: 768px) {
            header {
                display: none;
            }

            .for_mobile a {
                display: block;
            }

            .main-bg {
                display: none;
            }

            .options {
                display: none;
            }

            .body-class {
                display: none;
            }

            footer {
                display: none;
            }
        }